layout {
    tab_template name="media" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            children
        }
    }
    media name="Music"  split_direction="vertical" focus=true {
                pane{
                  command "musikcube"
                }
                pane{
                  command "cava"
              }
    }

    media name="News"  split_direction="vertical" {
           pane split_direction="horizontal"{
                  pane split_direction="vertical"{
                    pane name="Current Weather"{
                     command "wthrr"
                     args "-u" "f"
                    }
                    pane name="Forcast"{
                     command "wthrr"
                     args  "-f" "w" "minneapolis" "-u" "f"
                    }
                  }
                  pane name="clock"{
                    command "tty-clock"
                    args "-s" "-B"
                    }
              }
          pane name="News"{
                 command "newsboat"
             }
    }
}
