layout {
    tab name="terminal" {
        pane
        pane size="30%"
        pane size=1 borderless=true {
            //plugin location="file:/Users/Alex/.config/zellij/plugins/statusbar.wasm"
        }
    }
    tab name="api" {
        pane split_direction="vertical"{
            pane{
              cwd "/home/mslauson/projects/api" 
                command "nvim"
              }

          }
          pane {
           plugin location="zellij:status-bar"
        }
      }
}
