layout {
      default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
//          pane size=1 borderless=true{
 //          plugin location="zellij:status-bar"
  //      }
    }
    tab name="projects" {
            pane{
              cwd "/home/mslauson/projects" 
                //command "nvim"
              }
      }
//    tab name="ui" {
//            pane{
//              cwd "/home/mslauson/projects/ui" 
//                //command "nvim"
//              }
//
      //}
}
