layout {
    tab name="api" {
        pane split_direction="vertical"{
            pane{
              cwd "/home/mslauson/projects/api" 
                command "nvim"
              }

          }
          pane {
           plugin location="zellij:status-bar"
        }
      }
    tab name="ui" {
        pane split_direction="vertical"{
            pane{
              cwd "/home/mslauson/projects/ui" 
                command "nvim"
              }

          }
          pane {
           plugin location="zellij:status-bar"
        }
      }
}
