[user]
	name = Matthew Slauson
	email = matthew@slauson.io
[credential]
	helper = store
[init]
	defaultBranch = main
[url "https://mslauson:7c766a0672c363f3ce57f4d31470366bb3350903@gitea.slauson.io"]
	insteadOf = https://gitea.slauson.io
[safe]
	directory = /opt/flutter
[pull]
	rebase = false
[https]
	postBuffer = 2097152000
[http]
	postBuffer = 524288000
