.gitconfig
.profile_secret
.term_alias_secret.zsh
.gitsecret/keys/random_seed
!*.secret
config/lazygit/state.yml
config/kitty/kitty.conf
config/fish/profile_secret.fish
.profile
config/fish/profile.fish
